* {
    box-sizing: border-box;
}
.btn {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

.wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.overlay {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(66, 66, 202, 0.7);
    background-blend-mode: multiply;
    filter: blur(1rem);
    -webkit-transition: background-image 0.5s ease-in-out;
    transition: background-image 0.5s ease-in-out;
}

.audio__wrapper {
    width: 20rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background-color: white;
    gap: 1em;
    border-radius: 0.2rem;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(0, 4, 7, 0.6);
    -moz-box-shadow: 5px 5px 5px -5px rgba(0, 4, 7, 0.6);
    box-shadow: 5px 5px 5px -5px rgba(0, 4, 7, 0.6);


}

.cover {
    width: 100%;
    height: 20rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    -webkit-transition: background-image 0.5s ease;
    transition: background-image 0.5s ease;
}

.btn-play {
   background-image: url(./assets/icon/play_icon.svg);
}

.btn-play:hover {
    background-image: url(./assets/icon/play_hover.svg);
}

/* .btn-play:active {
    background-image: url(./assets/icon/pause_active.svg);
} */

.played {
    background-image: url(./assets/icon/pause_icon.svg);
}

.played:hover {
    background-image: url(./assets/icon/pause_hover.svg);
}

/* .played:active {
    background-image: url(./assets/icon/play_active.svg);
} */


.information {
    width: 100%;
    /* position: absolute; */
    bottom: 2em;
    /* left: center; */
    display: flex;
    flex-direction: column;
}

.information__name {
    color: rgb(73, 73, 235);
    font-size: 1rem;
    margin-bottom: 1em;
}

.song {
    text-transform: uppercase;
    font-weight: lighter;
    color: #5b5b5c;
}

.artist {
    font-size: 0.8rem;
    text-transform: lowercase;
    font-weight: bold;
}

.time-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.7em;
    color: #adb5bd;
    margin-top: 0.3rem;
}

progress::-moz-progress-bar { background: rgb(73, 73, 235); }
progress::-webkit-progress-value { background: #4949eb; }
progress { color: rgb(73, 73, 235); }


progress {
    width: 100%;
    height: 4px;
    background: #ced4da;
    color:#ced4da;
}

progress:hover {
    cursor: pointer;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.btn-prev {
    background-image: url(./assets/icon/prev.svg);
}

.btn-prev:hover {
    background-image: url(./assets/icon/prev_hover.svg);
}

/* .btn-prev:active {
    background-image: url(./assets/icon/prev_active.svg);
} */

.btn-next {
    background-image: url(./assets/icon/next.svg);
}

.btn-next:hover {
    background-image: url(./assets/icon/next_hover.svg);
}
/* 
.btn-next:active {
    background-image: url(./assets/icon/next_active.svg);
} */